- @tweets.each do |tweet|
	= "Name: #{tweet.user.name}"  
	%br
	= "screen Name: #{tweet.user.screen_name}"  
	%br
	= "Photo: #{tweet.user.profile_image_url_https}" 
	%br
	= "Date: #{tweet.created_at}" 
	%br
	= "Message: #{tweet.text}" 
	%br
	= "Retweets: #{tweet.retweet_count}"
	%br
	= "favourites: #{tweet.favorite_count}" 
	%br
	

	%br
	= "*" * 45
	%br


-#
	Name => tweet.user.name
	Screen Name => tweet.user.screen_name
	Photo => tweet.user.profile_image_url_https
	Date => tweet.created_at
	Message => tweet.text
	retweet count => tweet.retweet_count
	favourite count => tweet.favorite_count

	{
	  "created_at"=>"Thu Oct 26 10:52:41 +0000 2017",
	  "id"=>923502640016719873,
	  "id_str"=>"923502640016719873",
	  "text"=>"New Job Alert: Senior Rails Developer at https://t.co/SJkyofDD2f (Atlanta, Georgia,… https://t.co/OARIUAjmFz #rails #railsjobs #ror #ruby",
	  "truncated"=>false,
	  "entities"=>{
	    "hashtags"=>[
	      {
	        "text"=>"rails",
	        "indices"=>[
	          109,
	          115
	        ]
	      },
	      {
	        "text"=>"railsjobs",
	        "indices"=>[
	          116,
	          126
	        ]
	      },
	      {
	        "text"=>"ror",
	        "indices"=>[
	          127,
	          131
	        ]
	      },
	      {
	        "text"=>"ruby",
	        "indices"=>[
	          132,
	          137
	        ]
	      }
	    ],
	    "symbols"=>[
	      
	    ],
	    "user_mentions"=>[
	      
	    ],
	    "urls"=>[
	      {
	        "url"=>"https://t.co/SJkyofDD2f",
	        "expanded_url"=>"http://Spinrilla.com",
	        "display_url"=>"Spinrilla.com",
	        "indices"=>[
	          41,
	          64
	        ]
	      },
	      {
	        "url"=>"https://t.co/OARIUAjmFz",
	        "expanded_url"=>"http://dlvr.it/PxgctC",
	        "display_url"=>"dlvr.it/PxgctC",
	        "indices"=>[
	          85,
	          108
	        ]
	      }
	    ]
	  },
	  "metadata"=>{
	    "iso_language_code"=>"en",
	    "result_type"=>"recent"
	  },
	  "source"=>"<a href=\"https://dlvrit.com/\" rel=\"nofollow\">dlvr.it</a>",
	  "in_reply_to_status_id"=>nil,
	  "in_reply_to_status_id_str"=>nil,
	  "in_reply_to_user_id"=>nil,
	  "in_reply_to_user_id_str"=>nil,
	  "in_reply_to_screen_name"=>nil,
	  "user"=>{
	    "id"=>28593516,
	    "id_str"=>"28593516",
	    "name"=>"Ruby On Rails Jobs",
	    "screen_name"=>"rorjobs",
	    "location"=>"New York",
	    "description"=>"Ruby on Rails Jobs by Ruby on Rails developers for Ruby on Rails developers.",
	    "url"=>"http://t.co/bnT2P2jwXn",
	    "entities"=>{
	      "url"=>{
	        "urls"=>[
	          {
	            "url"=>"http://t.co/bnT2P2jwXn",
	            "expanded_url"=>"http://www.rorjobs.com",
	            "display_url"=>"rorjobs.com",
	            "indices"=>[
	              0,
	              22
	            ]
	          }
	        ]
	      },
	      "description"=>{
	        "urls"=>[
	          
	        ]
	      }
	    },
	    "protected"=>false,
	    "followers_count"=>4476,
	    "friends_count"=>40,
	    "listed_count"=>240,
	    "created_at"=>"Fri Apr 03 16:09:56 +0000 2009",
	    "favourites_count"=>1,
	    "utc_offset"=>-14400,
	    "time_zone"=>"Eastern Time (US & Canada)",
	    "geo_enabled"=>false,
	    "verified"=>false,
	    "statuses_count"=>14149,
	    "lang"=>"en",
	    "contributors_enabled"=>false,
	    "is_translator"=>false,
	    "is_translation_enabled"=>false,
	    "profile_background_color"=>"C4C4C4",
	    "profile_background_image_url"=>"http://pbs.twimg.com/profile_background_images/7404599/rorjobs.gif",
	    "profile_background_image_url_https"=>"https://pbs.twimg.com/profile_background_images/7404599/rorjobs.gif",
	    "profile_background_tile"=>false,
	    "profile_image_url"=>"http://pbs.twimg.com/profile_images/120823606/twitterlogo_normal.gif",
	    "profile_image_url_https"=>"https://pbs.twimg.com/profile_images/120823606/twitterlogo_normal.gif",
	    "profile_link_color"=>"721503",
	    "profile_sidebar_border_color"=>"721503",
	    "profile_sidebar_fill_color"=>"B9B9B9",
	    "profile_text_color"=>"333333",
	    "profile_use_background_image"=>true,
	    "has_extended_profile"=>false,
	    "default_profile"=>false,
	    "default_profile_image"=>false,
	    "following"=>false,
	    "follow_request_sent"=>false,
	    "notifications"=>false,
	    "translator_type"=>"none"
	  },
	  "geo"=>nil,
	  "coordinates"=>nil,
	  "place"=>nil,
	  "contributors"=>nil,
	  "is_quote_status"=>false,
	  "retweet_count"=>0,
	  "favorite_count"=>0,
	  "favorited"=>false,
	  "retweeted"=>false,
	  "possibly_sensitive"=>false,
	  "lang"=>"en"
	}