.section.jobs-on-twitter-section
  .s-property-content
    %p
      = "Name: #{tweet.name}"  
      %br
      = "screen Name: #{tweet.screen_name}"  
      %br
      = "Photo: #{tweet.photo_url}" 
      %br
      = "Date: #{tweet.date}" 
      %br
      = "Message: #{tweet.message}" 
      %br
      = "Retweets: #{tweet.retweet_count}"
      %br
      = "favourites: #{tweet.favorite_count}" 
      %br