.content-area.blog-page.padding-top-40.jobs-on-twitter-container
  .container
    .row
      .col-md-3.panel.panel-default.sidebar-menu.wow.fadeInRight.animated
        .jobs-on-twitter-list
          .bs-example
            %ul.list-group
              - @search_terms.each do |term|
                = link_to jobs_on_twitter_path(id: term.first), class: "search_terms" do
                  -if @id == term.first
                    %li.list-group-item.active
                      %h5.bold 
                        = term.last
                  -else
                    %li.list-group-item
                      %h5.bold 
                        = term.last

              / %li.list-group-item.active
              /   %h5.bold #RubyOnRailsJobs
              / %li.list-group-item
              /   %h5 #ReactJsJobs
              / %li.list-group-item
              /   %h5 #JavaScriptJobs
              / %li.list-group-item
              /   %h5 #PythonJobs
              / %li.list-group-item
              /   %h5 #NodeJsJobs
              / %li.list-group-item
              /   %h5 #AngularJsJobs
              / %li.list-group-item
              /   %h5 #AndroidJobs
              / %li.list-group-item
              /   %h5 #iOSJobs
      / </div>
      
      .col-md-9
        #tweets
          = render :partial => "jobs/tweets", :collection => @tweets, :as => :tweet
            
        #pagination-div{:style => "visibility: hidden;"}
          = will_paginate @tweets